html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 0px 10px;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  width: 100%;
}
.links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  color: cornflowerblue;
}
